.article-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  grid-gap: var(--space-3xl);
}

.title {
  display: inline-block;
  font-size: var(--text-lg);
  margin-top: var(--space-md);
  margin-bottom: 0;
  border-bottom: 1.5px solid transparent;
  font-weight: 900;
  line-height: 1.1;
}
.category {
  margin-top: var(--space-xl);
  background-color: var(--black);
  color: var(--white);
  padding: 6px 10px 5px;
  font-family: 'Raleway';
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  display: block;
  width: fit-content;
}

.link {
  text-decoration: none;
}

.link:hover .title {
  border-bottom-color: var(--primary);
}

.meta {
  display: flex;
  justify-content: space-between;
}
